body{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    padding:0;margin: 0;
}
h1{
    margin-left: 20px;
    font-size: 40px;
}
h3{
    margin-left: 20px;
    font-size: 20px;
}

p{
    font-size: 23px;
    margin-left: 20px;
    color: dimgrey;
}
section{
    height: 610px;
    bottom: 150px;
}
.top-banner{
    background-image: url("../Images/top-banner.png");
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url("../Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.experience-area{
    background-image: url("../Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 5%;
}

.top-banner .half-width h3{
    font-size: 22px
}
.half-width img{
    width: 100%;
}
.anchor_btn{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin: 25px;
}
.Orange_highlight{
    color: #ffa500;
}
.experience-area>h1{
    margin-bottom: -50px;
}
.experience-area div{
    box-shadow: 1px 1px 10px 1px #888888;
    height: 70%;
}
#full-stc{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    top: 50px;
    font-size: 20px;
}
